*{
    padding: 0;
    margin: 0;
}

#navbar{
    background-color: rgb(8, 8, 114);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;

}

ul{
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 20px;
}

.btn1{
    padding: 8px 15px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 15px;
    margin-right: 20px;
}
.btn2{
     padding: 10px 16px;
border-radius: 15px;
border: none;
background-color: turquoise;
}
