*{
    padding: 0;
    margin: 0;
}


.main{
    background-color: antiquewhite;
    width: 20%;
  padding: 50px 25px;
  margin-left: 40px;
  margin-top: 60px;
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
}
.main p{
    font-size: 20px;
}